
@media(max-width: 1000px){
    .container .footer-content{
        width: 689px;
    }

    .container .footer-content .imagem-perfil{
        width: 281px;
    }

    .container .footer-content .conteudo{
        width: 514px;
    }

    container .footer-content .conteudo .footer-titulo{
        font-size: 4.8rem;
    }

    .container .footer-content .conteudo .footer-texto{
        font-size: 1.6rem;
    }

    .container .footer-content .conteudo .menuLinkFooter{
        margin-top: 40px;
    }
}

@media(max-width: 768px){
    .container-header .conteudo-link .texto{
        font-size: 5rem;
        margin-top: 30px;
    }

    .container-header .conteudo-link .linkSaibaMais{
        font-size: 1.6rem;
    }

    .container-header .logo-menu{
        padding: 32px 39px;
    }

    .heroImagem{
        width: 514px;
    }

    .container-header .conteudo-link{
        width: 80%;
        margin: 0 auto;
    }

    header .molaImagem.img1{
        left: -200px;
        
    }
    header .molaImagem.img2{
        right: -100px;
        
    }

    .card-container .card{
        flex-direction: row;
    }

   

    .card-container .card div{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }

    .card-container .card div .card-titulo{
        width: 350px;
      
        margin-bottom: 0;
    }

    .card-container .card div .card-texto{
        width: 100%;
      
    }

}

@media(max-width: 554px){
    .container-header .logo-menu{
        padding: 15px 5px;
    }

    .heroImagem{
        width: 320px;
        height: 200px;
    }

    .card-container .card{
        flex-direction: column;
    }

    .container .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
        width: 90%;
    }

    .container .footer-content .conteudo{
        width: 100%;
    }

    .container .footer-content .conteudo .footer-titulo{
        font-size: 3.2rem;
    }

    .container .footer-content .conteudo .footer-texto{
        font-size: 1.4rem;
       
    }

    .container .footer-content .conteudo .menuLinkFooter{
        font-size: 1.4rem;
    }

    .container .footer-content .conteudo .img3{
        display: none; 
    }

    
    header .molaImagem.img1,
    header .molaImagem.img2{
    display: none;
    }


  

}